#players {
    overflow-y: auto;
    margin-bottom: 10px;
    height: calc(100% - 80px);
}
#player-filler {
    flex-grow: 1;
}
.player-container:first-of-type {
    border-top-width: 0;
}
.player-container {
    display: block;
    margin-top: 10px;
    border-top: 1px solid #f3f3f3;
    padding-top: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.player-container.visible {
    opacity: 1;
}
.player-container .lastname {
    display: table-cell;
    width: calc(100% - 40px);
    padding: 0 0 0 10px;
}
.player-container .firstname {
    display: inline-block;
    width: 100%;
    padding: 0 0 0 10px;
    color: #bbb;
    font-style: italic;
    font-size: 12px;
    box-sizing: border-box;
}
main, #messages-card {
    height: 100%;
    padding-bottom: 0;
}
#messages-card-container {
    height: calc(100% - 150px);
    padding-bottom: 0;
}
#messages-card {
    margin-top: 15px;
}